:root {
    --user-area-bottom: 0;
    --user-area-left: 0;
}

[class*="sidebar_"],
nav[class*="guilds_"] {
    height: var(--sidebar-height);
}

/* user area */
section[class*="panels_"] {
    position: fixed;
    overflow: hidden;
    bottom: var(--user-area-bottom);
    left: var(--user-area-left);
    width: var(--user-area-width);
}

[class*="avatarWrapper_"] {
    flex-grow: 1;
}

/* prevent the user info popout from clipping */
[id^="popout"]:has([class*="userPopoutOverlayBackground"]) {
    margin-left: 20px;
}