:root {
    --user-area-bottom: 0;
    --user-area-left: 0;
}

[class*="sidebar_"],
nav[aria-label="Servers sidebar"] {
    height: var(--sidebar-height);
}

section[aria-label="User area"] {
    position: fixed;
    overflow: hidden;
    bottom: var(--user-area-bottom);
    left: var(--user-area-left);
    width: var(--user-area-width);
}

[class*="avatarWrapper_"] {
    flex-grow: 1;
}