:root {
    --user-area-bottom: 0;
    --user-area-left: 0;
}

nav[class*="guilds_"] {
    height: var(--sidebar-height);
}

[class*="sidebar_"] {
    height: calc(var(--sidebar-height) - var(--notices-height));
}

/* user area */
section[class*="panels_"] {
    position: fixed;
    overflow: hidden;
    bottom: var(--user-area-bottom);
    left: var(--user-area-left);
    width: var(--user-area-width);
}

section[class*="panels_"] [class*="avatarWrapper_"] {
    flex-grow: 1;
}

/* prevent the user info popout from clipping */
[class*="accountProfilePopoutWrapper"] {
    left: 0;
}